.buttons{
    height: 85vh;
    width: 50%;
    border-left: 1px solid white;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    font-size: 20px;
}

.buttons a{
    color: white;
}

.buttons a:hover{
    color: #50C878;
}

.buttons p{
    margin-left: 10%
}

