.navbar{
    width: 90%;
    height: 75px;
    display: flex;
    border-bottom: 3px solid white;
    font-size: 170%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.navbar a{
    color: white;
}

.navbar a:hover{
    color: #50C878;
}

.links{
    display: flex;
    justify-content: space-between;
    width: 7%;
}
